pkgbase = cambalache
	pkgdesc = A new RAD tool for Gtk 4 and 3
	pkgver = 0.94.0
	pkgrel = 1
	url = https://gitlab.gnome.org/jpu/cambalache
	arch = x86_64
	license = LGPL-2.1-only
	makedepends = git
	makedepends = gobject-introspection
	makedepends = meson
	makedepends = ninja
	makedepends = wayland-protocols
	depends = at-spi2-core
	depends = cairo
	depends = dconf
	depends = gdk-pixbuf2
	depends = glib2
	depends = gtk3
	depends = gtk4
	depends = gtksourceview5
	depends = hicolor-icon-theme
	depends = libadwaita
	depends = libhandy
	depends = libxkbcommon
	depends = pango
	depends = pixman
	depends = python
	depends = python-gobject
	depends = python-lxml
	depends = wayland
	depends = webkit2gtk-4.1
	depends = webkitgtk-6.0
	depends = wlroots>=0.18.0
	source = https://gitlab.gnome.org/jpu/cambalache/-/archive/0.94.0/cambalache-0.94.0.tar.gz
	sha512sums = 019edd2cb38a6fd578007f90544ff8a76f35bff9cea7b8d5c585278306267088d3d6d221e6c4ea11a979b045a5c6d7c3ca4fdbb50604bb7d35b92f75cc52de28

pkgname = cambalache
