pkgbase = cambalache
	pkgdesc = A new RAD tool for Gtk 4 and 3
	pkgver = 0.90.2
	pkgrel = 2
	url = https://gitlab.gnome.org/jpu/cambalache
	arch = x86_64
	license = LGPL-2.1-only
	makedepends = gobject-introspection
	makedepends = meson
	makedepends = ninja
	depends = dconf
	depends = gdk-pixbuf2
	depends = glib2
	depends = gtk3
	depends = gtk4
	depends = gtksourceview5
	depends = hicolor-icon-theme
	depends = libadwaita
	depends = libhandy
	depends = pango
	depends = python-gobject
	depends = python-lxml
	depends = webkit2gtk-4.1
	depends = webkitgtk-6.0
	source = https://gitlab.gnome.org/jpu/cambalache/-/archive/0.90.2/cambalache-0.90.2.tar.gz
	sha512sums = f962260b4be8f77f1036afe90e9489a3f9fda3d4a3c7786005c113fa434a4bc598094cfc799deefca2a8b935c7308aea995626e8e32089b7e06b256fe6098291

pkgname = cambalache
